body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#header {
  width: 100%;
  background-color: rgb(5, 41, 112);
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer {
  width: 100%;
  background-color: rgb(5, 41, 112);
  height: 100px;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#pokeContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
  gap: 50px;
}

.imagePokemonIntro {
  width: 50%;
}

.pokemonIntroCard {
  background-image: url(./img/pokeball.png);
  margin: 8px;
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#card {
  width: 380px;
  border: 1px solid;
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  z-index: 9999;
}

#card:hover {
  cursor: pointer;
}

#container {
  height: 290px;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  border-radius: 25px 25px;
}

#informationPokemon {
  height: 290px;
  background-color: white;
  margin-top: -70px;
  border-radius: 25px 25px 25px 25px;
  position: relative;
  z-index: 1;
  width: 100%;
}

#imagePokemon {
  width: 55%;
  margin-top: 90px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.name {
  font-size: 40px;
  position: absolute;
  top: 16px;
}

.id {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 40px;
  font-weight: bold;
}

.type {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  padding: 4px;
  border: 1px solid;
  border-radius: 6px;
}

.typesContainer {
  z-index: 5;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.diemensionsContainer {
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding-top: 73px;
  font-size: 16px;
}

#myChart {
  padding: 5%;
}

.d-none {
  display: none;
}

.showMorePokemonBtn {
  background-color: white;
  width: 160px;
  border-radius: 25px;
  color: red;
  border: solid 5px red;
  font-weight: bold;
  height: 40px;
  position: absolute;
  bottom: 135px;
  left: 50%;
  transform: translateX(-50%);
}
.showMorePokemonBtn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 3px rgb(175, 0, 0));
}

.pokemonLogo {
  width: 160px;
}

.pokeballLogo {
  width: 80px;
}

.typeContainerIntroCard {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 16px;
  bottom: 20px;
}

.typeIcon {
  width: 25px;
  height: 25px;
}

.typeIcon img {
  width: 100%;
  height: 100%;
}

.PokemonNameIntro {
  position: absolute;
  top: 0;
  background-color: white;
  padding: 8px;
  width: 120px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
}

.svg {
  position: absolute;
  top: -40px;
}

.textCurve {
  fill: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: -0.7px 0 black, 0 0.7px black, 0.7px 0 black, 0 -0.7px black;
}

#curve {
  fill: transparent;
}
