body {
  margin: 0;
}

#pokeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.imagePokemonIntro {
  width: 80%;
}

.pokemonIntroCard {
  background-color: yellow;
  margin: 8px;
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
}

#card {
  width: 487px;
  border: 1px solid;
  border-radius: 25px 25px 25px 25px;
}

#container {
  height: 400px;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  border-radius: 25px 25px;
}

#informationPokemon {
  height: 400px;
  background-color: white;
  margin-top: -70px;
  border-radius: 25px 25px 25px 25px;
  position: relative;
  z-index: 1;
  width: 100%;
}

#imagePokemon {
  width: 60%;
  margin-top: 90px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.name {
  font-size: 40px;
  position: absolute;
  top: 16px;
}

.id {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 40px;
  font-weight: bold;
}

.type {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  padding: 4px;
  border: 1px solid;
  border-radius: 6px;
}

#typesContainer {
  z-index: 5;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.diemensionsContainer {
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding-top: 73px;
  font-size: 24px;
}

#myChart {
  width: 100% !important;
  padding: 5%;
}
