body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Copse";
}

#header {
  width: 100%;
  background-color: rgb(5, 41, 112);
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer {
  width: 100%;
  background-color: rgb(5, 41, 112);
  height: 100px;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#pokeContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 24px;
  padding-bottom: 100px;
  gap: 50px;
  background: rgb(99, 195, 34);
  background: linear-gradient(
    0deg,
    rgba(99, 195, 34, 0.7) 0%,
    rgba(63, 203, 44, 0.7) 15%,
    rgba(53, 211, 124, 0.7) 50%,
    rgba(62, 218, 72, 0.7) 86%,
    rgba(99, 195, 34, 0.7) 100%
  );
}

.imagePokemonIntro {
  width: 60%;
  z-index: 9999;
  filter: drop-shadow(2px 2px 3px black);
}
.imagePokemonIntro:hover {
  transform: scaleX(-1);
}

.pokemonIntroCard {
  background-image: url(./img/pokeball.png);
  margin: 8px;
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#card {
  width: 380px;
  border: 1px solid;
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  z-index: 9999;
}

#card:hover {
  cursor: pointer;
}

#container {
  height: 290px;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  border-radius: 25px 25px;
}

#informationPokemon {
  height: 290px;
  background-color: white;
  margin-top: -70px;
  border-radius: 25px 25px 25px 25px;
  position: relative;
  z-index: 1;
  width: 100%;
}

#imagePokemon {
  width: 55%;
  margin-top: 55px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  filter: drop-shadow(2px 2px 3px black);
}

.name {
  font-size: 32px;
  position: absolute;
  top: 16px;
}

.id {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 30px;
  font-weight: bold;
}

.type {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  padding: 4px;
  border: 1px solid;
  border-radius: 6px;
}

.typesContainer {
  z-index: 5;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 55px;
  font-size: 16px;
}

#myChart {
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 8px;
}

.d-none {
  display: none;
}

.showMorePokemonBtn {
  background-color: white;
  width: 160px;
  border-radius: 25px;
  color: red;
  border: solid 5px red;
  font-weight: bold;
  height: 40px;
  position: absolute;
  bottom: 135px;
  left: 50%;
  transform: translateX(-50%);
}
.showMorePokemonBtn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 3px rgb(175, 0, 0));
}

.pokemonLogo {
  width: 160px;
}

.pokeballLogo {
  width: 80px;
}

.typeContainerIntroCard {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 16px;
  bottom: 20px;
}

.typeIcon {
  width: 25px;
  height: 25px;
}

.typeIcon img {
  width: 100%;
  height: 100%;
}

.PokemonNameIntro {
  position: absolute;
  top: 0;
  background-color: white;
  padding: 8px;
  width: 120px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
}

.svg {
  position: absolute;
  top: -40px;
}

.textCurve {
  fill: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: -0.7px 0 black, 0 0.7px black, 0.7px 0 black, 0 -0.7px black;
}

#curve {
  fill: transparent;
}

.blurContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

#inputSearch {
  outline: none;
  border: 1px solid white;
  border-radius: 16px;
  padding: 6px;
  height: 32px;
  background-color: transparent;
  color: white;
}
.rightArrow {
  width: 50px;
  opacity: 0.4;
}
.leftArrow {
  width: 50px;
  transform: rotate(180deg);
  opacity: 0.4;
}
.rightArrow:hover {
  opacity: 1;
}
.leftArrow:hover {
  opacity: 1;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  gap: 420px;
  position: absolute;
  top: 50%;
  width: 100%;
}

button {
  color: black;
  padding: 6px;
  font-size: 14px;
  width: 20%;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  border: none;
}

#infos:hover {
  background-color: rgb(240, 240, 240) !important;
  border: solid grey 1px;
  cursor: pointer;
}
#moves:hover {
  background-color: rgb(240, 240, 240) !important;
  border: solid grey 1px;
  cursor: pointer;
}
#stats:hover {
  background-color: rgb(240, 240, 240) !important;
  border: solid grey 1px;
  cursor: pointer;
}

#contentInformation {
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 20px;
  display: grid;
  place-items: center;
}

.ability {
  padding-left: 6px;
}

td {
  padding: 6px;
  width: 130px;
}

table {
  padding-left: 16px;
  font-size: 14px;
}
#attacksTable {
  padding-left: 16px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding-top: 14px;
  font-size: 16px;
}
