body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#header {
  width: 100%;
  background-color: rgb(5, 41, 112);
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer {
  width: 100%;
  background-color: rgb(5, 41, 112);
  height: 100px;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#pokeContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.imagePokemonIntro {
  width: 70%;
}
.imagePokemonIntro:hover {
  scale: 1.2;
}

.pokemonIntroCard {
  background-image: url(./img/pokeball.png);
  margin: 8px;
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.pokemonIntroCard:hover {
  transform: rotate(45deg);
  /* transition: transform 320ms ease-in-out; */
  animation: rotate 1s normal linear infinite;
}

.imagePokemonIntro:hover {
  transform: rotate(-45deg);
  /* transition: transform 500ms ease-in-out; */
  animation: rotateBackwards 1s normal linear infinite;
}

#card {
  width: 380px;
  border: 1px solid;
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  z-index: 9999;
}

#card:hover {
  cursor: pointer;
}

#container {
  height: 290px;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  border-radius: 25px 25px;
}

#informationPokemon {
  height: 290px;
  background-color: white;
  margin-top: -70px;
  border-radius: 25px 25px 25px 25px;
  position: relative;
  z-index: 1;
  width: 100%;
}

#imagePokemon {
  width: 55%;
  margin-top: 90px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.name {
  font-size: 40px;
  position: absolute;
  top: 16px;
}

.id {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 40px;
  font-weight: bold;
}

.type {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  padding: 4px;
  border: 1px solid;
  border-radius: 6px;
}

#typesContainer {
  z-index: 5;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.diemensionsContainer {
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding-top: 73px;
  font-size: 16px;
}

#myChart {
  width: 100% !important;
  padding: 5%;
  height: 160px;
}

.d-none {
  display: none;
}

.showMorePokemonBtn {
  background-color: white;
  width: 160px;
  border-radius: 25px;
  color: red;
  border: solid 5px red;
  font-weight: bold;
  height: 40px;
  position: absolute;
  bottom: 135px;
  left: 50%;
  transform: translateX(-50%);
}
.showMorePokemonBtn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 3px rgb(175, 0, 0));
}

.pokemonLogo {
  width: 160px;
}

.pokeballLogo {
  width: 80px;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes rotateBackwards {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, -270deg);
    transform: rotate3d(0, 0, 1, -270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}
